/* Main navbar */
.navbar-template {
  box-shadow: 0 .1rem .5rem 0 rgba(0,0,0,0.07),0 .1rem 0 0 rgba(0,0,0,0.03);
  transition: all o.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 7rem;
  padding: 0 2.5rem;
}

/* Logo */
.navbar-template-logo img {
  height: 5rem;
}

/* Brand */
.navbar-template-brand h4{
  font-size: 2rem;
}

/* Right section */


/* Basic navbar item */
.navbar-template-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-template-link {
  color: red;
  font-size: 1.4rem;
  padding: 0 1.5rem;
}
.navbar-template-link:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-template-dropdown-menu {
  margin-top: 1.5rem;
  box-shadow: 1em 1em 4em #E6E6E6;
  border-color: #E6E6E6;
  left: -12rem !important;
}
.navbar-template-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 1.5rem !important;
  line-height: 2.2rem !important;
  padding: 1rem 2rem;
}
.navbar-template-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-template-dropdown-menu:before {
  content: ' ';
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 12rem;
  top: -0.6rem;
  background-color: white;
  transform: rotate(45deg);
  border-left: .1rem solid #E6E6E6;
  border-top: .1rem solid #E6E6E6;
}
