.section-two {
  margin: 75px auto;
  text-align: center;
  font-size: 21px;
  width: 50%;
}

.section-three,
.section-six {
  margin: 50px auto;
  padding: 50px 20px;
  width: 80%;
  background-color: #e0ebfb;
  text-align: center;
}

.title {
  padding-bottom: 70px;
  text-align: center;
}

.title-w h1,
.title h1 {
  font-size: 32px;
  font-weight: bold;
}

.section-four {
  background-image: image-url("font-color.jpg");
}


.title-w {
  color: white;
  width: 50%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}

.section-five {
  padding: 50px 0;
}
