#menu{
  position:fixed;
  background-color:$medium-gray;
  height:100vh;
  width: 15rem;
  z-index:10;
  color: #fff;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity:1;
  font-family: 'Open Sans', sans-serif;
}

.active{
  background-color: $strong-gray;
  color: $primary;
}
#menu ul{
  list-style: none !important;
  margin-top: 0;
  padding: 0;
}
#menu ul li {
  border-bottom: .0625rem solid #2a2a2a;
}
#menu ul li a {
  color:inherit;
  font-size:1rem;
  display: block;
  padding: .5rem 0 .5rem .4rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
}
#menu ul a i{
  margin-right:1rem;
  font-size: 1.125rem;
  margin-top: 1rem;
  width: 20rem;
}
.left {
  left: -15rem;
  margin-right: auto;
}
.show {
  left: 0;
}

#showmenu{
  margin-left: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
  width:5rem;
  padding-top:1rem;
  font-size:1.5em;
  color:$gray;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: $primary;
  text-align: center;
}
#master {
  margin-left: 5rem;
  padding: 5rem 5rem;
  &.mini {
    margin-left: 18rem;
  }
}
