---
title: link:hover
---

<div id="link" class="text-center">
  <h2>Links hover animations</h2>
  <div class="link-cont">
    <div class="row">
      <div class="col-xs-12">
        <div class="link-wrapper">
            <a class="link hover-1" href="/about.html">link hover #1</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-2" href="/index.html">link hover #2</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-3" href="/table.html">link hover #3</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-4" href="#">link hover #4</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-5" href="#">link hover #5</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-6" href="#">link hover #6</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="link-wrapper">
            <a class="link hover-7" href="#">link hover #7</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-8" href="#">link hover #8</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-9" href="#">link hover #9</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-10" href="#">link hover #10</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-11" href="#">link hover #11</a>
        </div>
        <div class="link-wrapper">
            <a class="link hover-12" href="#">link hover #12</a>
        </div>
        <div class="link-wrapper">
            <span class="inner-wrapper wrapper-13">
                <a class="link hover-13" href="#">link hover #13</a>
            </span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="link-wrapper">
        <span class="inner-wrapper wrapper-14">
          <a class="link hover-14" href="#">link hover #14</a>
        </span>
      </div>
      <div class="link-wrapper">
        <span class="inner-wrapper wrapper-15">
          <a class="link hover-15" href="#">link hover #15</a>
        </span>
      </div>
      <div class="link-wrapper">
        <span class="inner-wrapper wrapper-16">
          <a class="link hover-16" href="#">link hover #16</a>
        </span>
      </div>
      <div class="link-wrapper">
        <span class="inner-wrapper wrapper-17">
          <a class="link hover-17" href="#">link hover #17</a>
        </span>
      </div>
    </div>
  </div>
</div>

