<div class="main-container">
  <nav id="menu" class="left show">
    <ul>
      <li><a href="#">chateau</a></li>
      <li><a href="#">parc</a></li>
      <li><a href="#">jardins</a></li>
      <li><a href="#">contacts</a></li>
      <li><a href="#">merci</a></li>
    </ul>

    <a href="#" id="showmenu"><i class="fa fa-align-justify"></i></a>
  </nav>
  <div id="master">
    <div class="text-justify">
      <p>Il est possible de suivre avec les baguettes le tracé de l’escalier du Roi qui figure sur le pavé.</p>
      <p>Des sous-sols sont mis en évidence: un passage entre le bâtiment de la cour Henri IV et la Cour Ovale est détecté, ainsi que le tracé probable d’un souterrain d’une largeur de 2,5m, allant vers les Mathurins en traversant le Jardin de Diane.</p>
      <p>Consacrée par l’archevêque de Canterbury Thomas Becket en 1169, la première chapelle Saint Saturnin a au fil du temps disparu. Celle que nous voyons aujourd’hui a été construite par François I en 1545, soit plus de trois siècles après. Depuis très longtemps on recherche la localisation précise de la première chapelle.</p>
      <br>
      <p>Il est logique d’admettre qu’elle se trouvait à l’intérieur des murailles du Château dont le périmètre que nous avons détecté en partie, est approximativement celui de la Cour Ovale. Comme beaucoup d’églises du Moyen Age, la chapelle devait être orientée vers l’est. C’est sur ces bases que nous avons exploré dans le Grand Parterre la zone proche de la chapelle Saint Saturnin.</p>
      <br>
      <p>Nous y avons découvert les fondations d’une structure ogivale, orientée à l’est, qui se situe pratiquement à l’emplacement de l’actuelle chapelle qui est orientée au sud-est. Nous pensons qu’il s’agit de l’amorce des fondations de la première chapelle, hypothèse qui a été avancée par certains auteurs tel A.L. Castellan.</p>
      <br>
      <p>Les détections réalisées dans les souterrains, dans la chapelle basse, dans la chapelle haute et dans la Cour Ovale nous ont permis de préciser l’ensemble des fondations de cette première chapelle. Ses dimensions se rapprochent de celles de l’église du Prieuré Saint-Sauveur à Melun qui date du XI ème siècle. Nous constatons aussi que sa largeur est pratiquement la même que celle de la chapelle existante. Son orientation n’est pas rigoureusement à l’est probablement à cause de la proximité d’une tour de guet. Elle diffère de 40° par rapport à celle de la chapelle existante.</p>
      <p>Nous pensons également avoir mis en évidence dans le Grand Parterre les fondations des murs qui limitaient la Cour Ovale, de la Porte Dorée à l’allée des Fossés.</p>
      <br>
      <p>Sa largeur est de six mètres sur une grande partie. Elles s’intègrent assez bien dans une structure pratiquement ovale en continuité avec les murs de la Cour sous François I d’où peut-être le nom attribué à cette Cour.</p>
      <p>Ces découvertes, importantes à nos yeux, montrent tout l’intérêt que présente la radiesthésie pour retrouver des structures disparues. Une confirmation par les méthodes physiques est envisagée.</p>
      <br>
    </div>
  </div>
</div>

<script>
  $('#showmenu').click(function(e){
  toggleSidebar()
});

function toggleSidebar() {
  $('#menu').toggleClass('show');
  $('#master').toggleClass('mini')
};
</script>
